* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInFromRight {
  /* add/remove steps if more/less images */
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInFromRight 0.4s ease-in-out forwards;
}

.slide-in-left {
  animation: slideInFromLeft 0.5s ease-out forwards;
}
.Home__products--section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 350px));
  gap: 10px;
  place-content: center;
}
@media (max-width: 520px){
  .Home__products--section{
    grid-template-columns: minmax(200px, 250px);
  }
}