* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInFromRight {
  /* add/remove steps if more/less images */
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInFromRight 0.4s ease-in-out forwards;
}

.slide-in-left {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.coverImg {
  height: calc(100vh - 120px);
}
.coverImgSignIn {
  height: calc(100vh - 100px);
}